{% load static %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
{% block body %}

<div class="calc_form">
<div class="rounded-border">
    <div class="calc_tag"><h1>Calculator</h1></center></div>
    <br/>
    <br/>


    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}

<div class="buttons">
        <button class="btn btn-dark" type="submit" name="add">+</button>
        <button class="btn btn-dark" type="submit" name="sub">-</button>
        <button class="btn btn-dark" type="submit" name="mul">*</button>
        <button class="btn btn-dark" type="submit" name="div">/</button>
    </div>
        <div class="res">
            <h3>Result: {{ result }}</h3>
        </div>

    </form>

    <br/>
    <br/>

</div>
</div>


{% endblock %}